body
{
    margin: 0;
    padding: 0;
    background: black;
    color: black;
}

#mainContent
{

}

#headerImage
{
    width: 800px;
    height: 213px;
    border-bottom: 3px solid black;

}

#searchArea
{
    width: 800px;
    background: #e8d48f;
}

#searchBox
{


}

#searchAutoComplete 
{ 
    width: 25em; 
    padding-bottom: 2em; 
}

#posterImage
{
    width: 150px;
    height: 222px;
    margin: 0;
    padding: 0;
    border: 2px solid black;
}

#dragArea
{
    width: 800px;
    background: #e8d48f;
}

#dragDropArea1
{

}

#dragDropArea2
{

}

#dragVersus
{

}

div.show { visibility: visible; }
div.hide { visibility: hidden; }
